
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");


#bloc_page
{
	max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; 
  font-family: "Raleway", "Sans serif", "Arial";
  flex-direction: column; 
}

a
{
  text-decoration: none;
  color: inherit;
}

.logo 
{
width: 90px;
margin-bottom: 20px;
}

#titre_page h1{
margin-bottom:9px;
font-size: 22px;
}

nav li:hover {
border-top: 2px solid #0065FC;}

#flex_nav{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.nav_liste{
display: flex;
flex-direction: row;
justify-content: space-between;
list-style-type: none;
width: 300px;
}

.hebergement{margin-left: 700px;}
#flex_nav div {margin-top: 20px;}
#flex_nav div:hover {border-top: 2px solid #0065FC;}
#titre_page{margin-bottom: -18px;}

header h1 {margin-bottom: 0px;}

header p {margin-top: 2px;}
/*trouver meilleur solution*/
#search_bar
{
display: table;
table-layout: fixed;
word-spacing: -2em;
margin-bottom: 10px;
}

.search_icone
{ background-color: #F2F2F2;
  padding-left: 15px;
  padding-top: 9.9px;
  padding-bottom: 13px;
  padding-right: 15px;
  border-radius: 12px 0px 0px 12px;
  display: inline-block;
  word-spacing: normal;  
 }
.search_zone
{
  padding: 11px;
  border: 0.1px solid #F2F2F2;
  font-weight: bold;
}
.button_search
{
  color: white;
  font-weight: bold;
  padding-top: 9.5px;
  padding-bottom: 11px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #0065FC;
  border-radius: 0px 12px 12px 0px;
}

nav li {margin-right: 15px;}

/*********Bloc filtre************/

span
{
  border: 2px solid white;
  border-radius: 20px;
  padding: 8px;
  font-weight: bold;
  padding: 8px

}
.filtre
{
  /*mettre div pour chaque elements*/
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
margin-right: 500px;
margin-bottom: 10px; 
}
/*filtre bordure*/
#money:hover{background-color: #F4F4F4; border: #F4F4F4;}
#money
{
  border: 2px solid #F2F2F2;
  border-radius: 30px;
}
#family:hover{background-color: #F4F4F4; border: #F4F4F4;}
#family
{
  border: 2px solid #F2F2F2;
  border-radius: 30px;
}
#romantique:hover{background-color: #F4F4F4; border: #F4F4F4;}
#romantique
{
  border: 2px solid #F2F2F2;
  border-radius: 30px;
}
#animal:hover{background-color: #F4F4F4; border: #F4F4F4;}
#animal
{
  border: 2px solid #F2F2F2;
  border-radius: 30px;
}
  /*contenant de la bordure*/
.eco
{
 padding: 20px 20px 20px 8px;
 color: black;
 font-weight: bold;
 text-decoration: none;
  } 

.fam
{
  padding: 20px 20px 20px 8px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  }
.rom
{

  padding: 20px 20px 20px 8px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  }
.ani
{
  padding: 20px 20px 20px 8px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  }
  /*bordure icone*/
div .money{

  background-color: #DEEBFF;
  margin: 0px;
  padding: 10px;
  color: blue;
  border: 2px solid #DEEBFF;
  border-radius: 50px;
}
div .family{

  background-color: #DEEBFF;
  margin: 0px;
  padding: 10px;
  color: blue;
  border: 2px solid #DEEBFF;
  border-radius: 50px;
}
div .romantique{

  background-color: #DEEBFF;
  margin: 0px;
  padding: 10px;
  color: blue;
  border: 2px solid #DEEBFF;
  border-radius: 50px;
}
div .animal{

  background-color: #DEEBFF;
  margin: 0px;
  padding: 10px;
  color: blue;
  border: 2px solid #DEEBFF;
  border-radius: 50px;
}

.phrase_logement{
margin-bottom: 30px; }

.info_icone{
  color:#0065FC; 
  border:solid 2px #F4F4F4; 
  border-radius: 50%;
  font-size: 15px; 
  padding:2px 8px 2px 8px; 
  margin-right: 8px; }
 
  /**********************hebergement*********************/

/*titre hebergement*/
.titre_hebergement{

 background-color: #F2F2F2;
 width: 900px;
 margin-bottom:0px;
 margin-top: 0px;
 padding-top: 50px;
 padding-left: 40px;
 border-radius: 20px 20px 0px 0px;
 margin-right: 30px;
}
 /*image partie hebergement*/
.img_hebergement {width: 250px; height: 120px; border-radius: 10px; padding: 3px;}
  /*bloc herbergement*/
#hebergement
  {
/*60% HEBERGEMENNT LARGEUR*/
  background-color: #F2F2F2;
  display: grid;
  grid-template-columns: 260px 260px 260px;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  padding: 30px;
  margin-right: 30px;
  border-radius: 0px 0px 20px 20px;
  justify-content: center;
 
  } 
  /*items bloc herbergement*/
.item_hebergement:hover{ transform: scale(1.08);}
.item_hebergement
  {
  background-color: white;
  line-height: 8px;
  margin: auto;
  padding: 2px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px grey;
  }
  .item_hebergement p
  {
    padding-left: 10px;}
   .item_hebergement h3
  {
    padding-left: 10px; font-size: 17px;}

  .star{
    color: #0065FC;
  }
  .empty_star
  {
    color: grey;
  }
  /**********************les plus populaires*********************/
  /*image partie populaire*/

.img_populaire
  {
  margin-top: 0px;
  width: 150px;
  height: 131px;
  padding: 2px 10px 2px 2px;
  border-radius: 20px;
  float: left;
  }
  /*items bloc populaire*/
.item_populaire:hover {
  transform: scale(1.08);}
.item_populaire
  {
  background-color: white;
  width: auto;
  padding: 2px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  height: 135px;
  border-radius: 20px;
  box-shadow: 2px 2px 3px grey;
}
.item_populaire h3{margin-bottom: 0px; font-size: 17px;}
.item_populaire p{margin-top: 2px; margin-bottom:20px; }
/*****titre les plus populaire*****/
#populaire_titre{
display:flex; 
flex-direction: row;
height: 50px;
margin-top: 30px; 
margin-left: 20px;
margin-bottom: 25px;
justify-content: space-between;

   }
.logo_graph
{
font-size: 25px;
 margin:20px;
}

 /*bloc populaire*/
#populaire
 {
  /*30% LARGEUR */
background-color: #F2F2F2;
display: flex;
flex-direction: column;
justify-content: space-around;
width: 450px;
padding-bottom: 10px;
border-radius: 20px;

 }

/**********************bloc hebergement+populaire*********************/
#bloc_1 
 {
  /*faire flex box justify content, space beetween,*/
  
  display: flex;
  justify-content: space-between;

  
 }
  /**********************partie activité*********************/

.img_marseille {border-radius: 20px 20px 0px 0px; overflow: hidden; background-color: blue; height: 80%}
.img_marseille img {border-radius: 20px 20px 0px 0px; width: 100%; height: 100%; margin: 0px; }
/************bloc activité marseille***********/
#activite_marseille
{
  display: grid;
  grid-template-columns: 23% 23% 23% 23%; 
  grid-gap: 30px;
}
/*propriete bloc contenu dans activité marseille*/
#activite_marseille> div 
{
  border-radius: 20px 20px 20px 20px;
  box-shadow: 2px 2px 3px grey;
  padding: 0px 0px;
}
/*organisation des items co*/
.activite:hover{transform: scale(1.08);}
.activite_1
{
  grid-row: 1/span 2;
 height: 530px;
 overflow: hidden;
}
.activite_2
{
  height: 250px;

}
.activite_3
{
  grid-row: 1/span 2;
  grid-column-start: 3;
  height: 530px;
}
.activite_4
{
height: 250px;
overflow: hidden;
}
.activite_5
{
height: 250px;
overflow: hidden;
}
.activite_6
{
height: 250px;

}

/**********************pied de page*********************/
  footer
  {
  display: flex;
  justify-content: space-between;
  background-color: #F2F2F2;
  margin-top: 40px;
  padding-left: 20px;
  }

  #assistance
  {
    margin-right: 300px;
  }

@media all and (max-width: 1080px)
{
  #bloc_page
  {
    width: 900px;
    margin: auto;
  }
}

@media all and (max-width: 1080px)
/**********header**************/
{
 .logo{
  width: 200px;
  
 }
 /**********************header titre position*****************/
 #flex_nav{display: flex; flex-direction: row; height: 300px; justify-content: space-between; flex-wrap: wrap;}
 #flex_nav div:hover {border-bottom: 2px solid #0065FC; border-top: none;}
.hebergement{
  margin-left: -0px;
  width: 450px; 
  height: 40px; 
  order: 4; 
  font-size: 30px;
  text-align:center;
  border-bottom: solid #D0CCCC 4px;}
.activites{
 width: 450px; 
 height: 40px;
 order: 3; 
 font-size: 30px;
 text-align: center;
 border-bottom: solid #D0CCCC 4px;}
.inscrire{width: 400px;
 height: 100px; 
 order: 2; 
 padding: 30px; 
 font-size: 30px;
text-align: right; 
color: #0065FC; 
font-weight: bold;}
/*******elements hebegement*******/

/********************************/
/*******titre pricipale*******/
  header h1{
    margin-top: 45px;
    margin-right: 90px;
    margin-left: 0px;
    padding-right: 80px;
    font-size: 38px;
  }
/*******phrase sous titre principale*******/
.phrase_hebergement{
 font-size: 18px;
  height: 20px
  margin-top: 20px;
  margin-bottom: 30px;
  }

/*********search bar***************/
  #search_bar
{
  display: table;
  table-layout: fixed;
  word-spacing: -2em;
  width: 600px;
  margin: auto;
}

.search_icone
{ background-color: #F2F2F2;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  border-radius: 12px 0px 0px 12px;
  display: inline-block;
  word-spacing: normal;  
 }
.search_zone
{
  padding: 20px 90px 20px 20px;
  border: 0.1px solid #F2F2F2;
  font-weight: bold;
}
.button_search
{
  color: white;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #0065FC;
  border-radius: 0px 12px 12px 0px;
}
/*********filtre************/

.filtre
{
  margin-left: 150px;
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
#money{width: 170px;}
span
{width: 300px;}
/*******phrase logement*******/
.phrase_logement{
  font-size: 18px;
  height: 20px;
}

/*******bloc heb+pop*******/
  #bloc_1
  {
    display: flex;
    flex-direction: column-reverse;
  }
/*******bloc populaire*******/
 #populaire{ width: 100%; height: 750px;}
.img_populaire
  {
  width: 200px;
  height: 188px;}
.item_populaire
  {
  background-color: white;
  width: 90%;
  height: 190px;
  margin: auto;
}
/*******bloc hebergement*******/
.img_hebergement {width: 100%; height: 200px; border-radius: 10px}
.titre_hebergement{
 background-color: white;
 width: 730px;
 margin-bottom:0px;
 margin-top: 30px;
 padding-top: 0px;
 font-size: 25px;
}
#hebergement
  {
 background-color: white;
 width: auto;
 grid-template-columns: 900px;
 grid-column-gap: 0px;
 padding: 30px;
 margin-right: 0px;
  }
.item_hebergement
  {
  background-color: white;
  line-height: 10px;
  margin: 0px 0px 0px 20px;
  padding: 2px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px grey;
  height: 300px;
}


/*-************partie activité***************/
#activite_marseille
{
  display: flex;
  flex-direction: column; 
}
/*propriete bloc contenu dans activité marseille*/
#activite_marseille> div 
{
  border-radius: 20px 20px 20px 20px;
  box-shadow: 2px 2px 3px grey;
  padding: 0px 0px;
}
/*organisation des items co*/

.activite_1
{
  grid-row: none;
 height: 350px;
 width: 900px;
 overflow: hidden;
}
.activite_2
{
 height: 350px;
 width: 900px;
}
.activite_3
{
  grid-row: none;
  grid-column-start: none;
 height: 350px;
 width: 900px;

}
.activite_4
{
 height: 350px;
 width: 900px;
overflow: hidden;
}
.activite_5
{
 height: 350px;
 width: 900px;

overflow: hidden;
}
.activite_6
{
 height: 350px;
 width: 900px;

}

  footer
  {
    display: flex;
    flex-direction: column;
  }

}

/*mettre conteneur pour les images + propriete overflow
mettre plusieurs class dans conteneur*/