
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

#bloc_page
{
	max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; 
  font-family: "Raleway", "Sans serif", "Arial";
  flex-direction: column; 
}

.logo {width: 100px;
margin-bottom: 20px;
}

#titre_page h1{margin-bottom:9px;}

nav ul
{
  display: flex;
  list-style-type: none;
  width:255px;
  padding : 21px;
  margin-top: 0px;
  color: #DEEBFF;
  padding : 21px; 
  position: absolute;
  top: 0px;
  right: 80px;
  flex-direction: row;
}

nav li {padding-right: 25px;}

#titre_page{margin-bottom: -18px;}

header h1 {margin-bottom: 0px;}

header p {margin-top: 2px;}
/*trouver meilleur solution*/
#search_bar
{
  display: table;
  table-layout: fixed;
  word-spacing: -2em;
  margin-bottom: 10px;
}

.search_icone
{ background-color: #F2F2F2;
  padding-left: 15px;
  padding-top: 9.9px;
  padding-bottom: 13px;
  padding-right: 15px;
  border-radius: 12px 0px 0px 12px;
  display: inline-block;
  word-spacing: normal;  
 }
.search_zone
{
  padding: 11px;
  border: 0.1px solid #F2F2F2;
  font-weight: bold;
}
.button_search
{
  color: white;
  font-weight: bold;
  padding-top: 9.5px;
  padding-bottom: 11px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #0065FC;
  border-radius: 0px 12px 12px 0px;
}

nav li {margin-right: 15px;}

/*********Bloc filtre************/

span
{
  border: 2px solid white;
  border-radius: 20px;
  padding: 8px;
  font-weight: bold;
  padding: 8px

}
.filtre
{
  /*mettre div pour chaque elements*/
display: flex;
flex-direction: row;
justify-content: space-between;
margin-right: 650px;
margin-bottom: 10px;

 
}
/*filtre bordure*/

.eco
{
  border: 2px solid #F2F2F2;
  border-radius: 20px;
  padding: 8px;
  color: blue;
  }

.fam
{
  border: 2px solid #F2F2F2;
  border-radius: 20px;
  padding: 8px; 
  color: blue;
  }
.rom
{
  border: 2px solid #F2F2F2;
  border-radius: 20px;
  padding: 8px;
  color: blue;
  }
.ani
{
  border: 2px solid #F2F2F2;
  border-radius: 20px;
  padding: 8px;
  color: blue;
  }

  /**********************hebergement*********************/

/*titre hebergement*/
.heb{

 background-color: blue;
 width: 400px;
}
 /*image partie hebergement*/
.img_h {width: 180px; height: 100px;}
  /*bloc herbergement*/
#hebergement
  {
/*60% HEBERGEMENNT LARGEUR*/
  background-color: grey;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 250px 250px;
  grid-gap: 10px 20px;
  padding: 20px;
  width: 864px;

  } 
  /*items bloc herbergement*/
.item_h
  {
  background-color: red;
  width: auto;
  padding: 4px;
  }
  /**********************les plus populaires*********************/
  /*image partie populaire*/
.ti{
  margin-right: 10px;
  background-color: blue;
  height: 40px;
  min-width: 400px;
  margin-top: 1px;
}
.img_p
  {
  width: 150px;
  height: 150px; 
  float: left;}
  /*items bloc populaire*/
.item_p
  {
  background-color: red;
  width: auto;
  padding: 2px;}

 /*bloc populaire*/
#populaire
 {
  /*30% LARGEUR */
background-color: grey;

 display: flex;
 flex-direction: column;
 justify-content: space-around;
margin-top: 125px;
height: 600px;
width: 300px;
margin-top: 85px;
margin-right: 50px;

 }

/**********************bloc hebergement+populaire*********************/
#bloc_1 
 {
  /*faire flex box justify content, space beetween,*/
  background-color: yellow;
  display: flex;
  justify-content: space-between;
  
 }
  /**********************partie activité*********************/

.img_mar_1 
{
  width: 350px;
  height: 400px;
}

.img_mar_2
{
  width: 250px;
  height: 150px;}

.img_mar_3
{
  width: 350px;
  height: 400px;}
.img_mar_4
{
  width: 250px;
  height: 150px;}
.img_mar_5
{
  width: 250px;
  height: 150px;}
.img_mar_6
{
  width: 250px;
  height: 150px;}

#activite_marseille
{
  display: grid;
  grid-template-columns: 350px 250px 350px 250px; 
  grid-gap: 30px;
  background-color: blue;
  padding: 0px;
}
/*propriete bloc contenu dans activité marseille*/
#activite_marseille> div 
{
  background-color: red;
  
  padding: 0px 0px;
}
/*organisation des items co*/
.act_1
{
  grid-row: 1/span 2;

}

.act_3
{
  grid-row: 1/span 2;
  grid-column-start: 3
}
  /**********************pied de page*********************/
  footer
  {
  display: flex;
  justify-content: space-between;
  background-color: #F2F2F2;
  }

  #assistance
  {
    margin-right: 500px;
  }

  @media all and (max-width: 1080px)
{
  #bloc_page
  {
    width: auto;
    margin: 0 auto;
  }
}

@media all and (max-width: 1080px)
{
 .logo{
  width: 200px;
 }
  nav ul
  {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    font-size: 25px;

  }

  #hebergement
  {
    display: flex;
    flex-direction: column;
  }

  #populaire{

    width: auto;

  }

  #bloc_1
  {
    display: flex;
    flex-direction: column-reverse;
  }

  #activite_marseille
  {
    display: flex;
    flex-direction: column;
  }


  footer
  {
    display: flex;
    flex-direction: column;
  }
}

