
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

#bloc_page
{
	max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; 
  font-family: "Raleway", "Sans serif", "Arial";
  flex-direction: column; 
}

.logo {width: 100px;
margin-bottom: 20px;
}

#titre_page h1{margin-bottom:9px;}

nav ul
{
  display: flex;
  list-style-type: none;
  width:255px;
  padding : 21px;
  margin-top: 0px;
  color: #DEEBFF;
  padding : 21px; 
  position: absolute;
  top: 0px;
  right: 80px;
  flex-direction: row;
}

nav li {padding-right: 25px;}

#titre_page{margin-bottom: -18px;}

header h1 {margin-bottom: 0px;}

header p {margin-top: 2px;}
/*trouver meilleur solution*/
#search_bar
{
  display: table;
  table-layout: fixed;
  word-spacing: -2em;
  margin-bottom: 10px;
}

.search_icone
{ background-color: #F2F2F2;
  padding-left: 15px;
  padding-top: 9.9px;
  padding-bottom: 13px;
  padding-right: 15px;
  border-radius: 12px 0px 0px 12px;
  display: inline-block;
  word-spacing: normal;  
 }
.search_zone
{
  padding: 11px;
  border: 0.1px solid #F2F2F2;
  font-weight: bold;
}
.button_search
{
  color: white;
  font-weight: bold;
  padding-top: 9.5px;
  padding-bottom: 11px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #0065FC;
  border-radius: 0px 12px 12px 0px;
}

nav li {margin-right: 15px;}

/*********Bloc filtre************/

span
{
  border: 2px solid white;
  border-radius: 20px;
  padding: 8px;
  font-weight: bold;
  padding: 8px

}
.filtre
{
  /*mettre div pour chaque elements*/
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
margin-right: 630px;
margin-bottom: 10px; 
}
/*filtre bordure*/
#money
{
  border: 2px solid #F2F2F2;
  border-radius: 20px;
}

#family
{
  border: 2px solid #F2F2F2;
  border-radius: 20px;
}

#romantique
{
  border: 2px solid #F2F2F2;
  border-radius: 20px;
}
#animal
{
  border: 2px solid #F2F2F2;
  border-radius: 20px;
}
  /*contenant de la bordure*/
.eco
{
  padding: 8px;
 color: black;
 font-weight: bold;
 text-decoration: none;
  } 

.fam
{
  padding: 8px; 
  color: black;
  font-weight: bold;
  text-decoration: none;
  }
.rom
{

  padding: 8px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  }
.ani
{
  padding: 8px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  }
  /*bordure icone*/
div .money{

  background-color: #DEEBFF;
  margin: 0px;
  padding: 5px;
  color: blue;
  border: 2px solid #DEEBFF;
  border-radius: 50px;
}
div .family{

  background-color: #DEEBFF;
  margin: 0px;
  padding: 5px;
  color: blue;
  border: 2px solid #DEEBFF;
  border-radius: 50px;
}
div .romantique{

  background-color: #DEEBFF;
  margin: 0px;
  padding: 5px;
  color: blue;
  border: 2px solid #DEEBFF;
  border-radius: 50px;
}
div .animal{

  background-color: #DEEBFF;
  margin: 0px;
  padding: 5px;
  color: blue;
  border: 2px solid #DEEBFF;
  border-radius: 50px;
}
  /**********************hebergement*********************/
/*titre hebergement*/
.titre_hebergement{

 background-color: #F2F2F2;
 width: 900px;
 margin-bottom:0px;
 margin-top: 0px;
 padding-top: 50px;
 padding-left: 40px;
 border-radius: 20px 20px 0px 0px;
 margin-right: 30px;
}
 /*image partie hebergement*/
.img_hebergement {width: 250px; height: 120px; border-radius: 10px}
  /*bloc herbergement*/
#hebergement
  {
/*60% HEBERGEMENNT LARGEUR*/
  background-color: #F2F2F2;
  display: grid;
  grid-template-columns: 260px 260px 260px;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  padding: 30px;
  margin-right: 30px;
  border-radius: 0px 0px 20px 20px;
 
  } 
  /*items bloc herbergement*/
.item_hebergement
  {
  background-color: white;
  margin: auto;
  padding: 2px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px grey;
  }
  /**********************les plus populaires*********************/
  /*image partie populaire*/

.img_populaire
  {
  width: 150px;
  height: 166px;
  padding: 2px 10px 2px 2px;
  border-radius: 20px;
  float: left;}
  /*items bloc populaire*/
.item_populaire
  {
  background-color: white;
  width: auto;
  padding: 2px;
  margin-left: 20px;
  margin-right: 20px;
  height: 170px;
  border-radius: 20px;
  box-shadow: 2px 2px 3px grey;
}
/*****titre les plus populaire*****/
.pop
{
  height: 50px;
  padding-top: 28px;
  margin-left: 30px;
}

 /*bloc populaire*/
#populaire
 {
  /*30% LARGEUR */
background-color: #F2F2F2;
display: flex;
flex-direction: column;
justify-content: space-around;
width: 450px;
padding-bottom: 50px;
border-radius: 20px;
 }

/**********************bloc hebergement+populaire*********************/
#bloc_1 
 {
  /*faire flex box justify content, space beetween,*/
  
  display: flex;
  justify-content: space-between;
  
 }
  /**********************partie activité*********************/

.img_marseille_1 
{ 
  border-radius: 20px 20px 0px 0px;
  width: 370px;
  height: 400px;
}

.img_marseille_2
{
  border-radius: 20px 20px 0px 0px;
  width: 290px;
  height: 150px;}

.img_marseille_3
{
  border-radius: 20px 20px 0px 0px;
  width: 370px;
  height: 400px;}
.img_marseille_4
{
  border-radius: 20px 20px 0px 0px;
  width: 300px;
  height: 150px;}
.img_marseille_5
{
  border-radius: 20px 20px 0px 0px;
  width: 290px;
  height: 150px;}
.img_marseille_6
{
  border-radius: 20px 20px 0px 0px;
  width: 300px;
  height: 150px;}
/************bloc activité marseille***********/
#activite_marseille
{
  display: grid;
  grid-template-columns: 370px 290px 370px 300px; 
  grid-gap: 30px;
}
/*propriete bloc contenu dans activité marseille*/
#activite_marseille> div 
{
  border-radius: 20px 20px 20px 20px;
  box-shadow: 2px 2px 3px grey;
  padding: 0px 0px;
}
/*organisation des items co*/
.activite_1
{
  grid-row: 1/span 2;

}

.activite_3
{
  grid-row: 1/span 2;
  grid-column-start: 3
}
  /**********************pied de page*********************/
  footer
  {
  display: flex;
  justify-content: space-between;
  background-color: #F2F2F2;
  margin-top: 20px;
  padding-left: 20px;
  }

  #assistance
  {
    margin-right: 500px;
  }

@media all and (max-width: 1080px)
{
  #bloc_page
  {
    width: 900px;
    margin: auto;
  }
}

@media all and (max-width: 1080px)
/**********header**************/
{
 .logo{
  width: 200px;
 }
  nav ul
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 25px;
    height: 130px;
    width: 900px;

  }
/*******elements s'inscrire*******/

  .inscrire
  {
    align-self: flex-end;
    flex-direction: row-reverse;
    margin-left: 580px;
    margin-top: 20px;
  }
/*******elements hebegement*******/
.hebergement{
    
    margin-left: 80px;
/********************************/
  }
/*******titre pricipale*******/
  header h1{
    margin-top: 45px;
    margin-right: 90px;
    margin-left: 0px;
    padding-right: 80px;
    font-size: 38px;
  }
/*******phrase sous titre principale*******/
.phrase_hebergement{
 font-size: 18px;
  height: 20px
  margin-top: 20px;
  margin-bottom: 30px;
  }

/*********search bar***************/
  #search_bar
{
  display: table;
  table-layout: fixed;
  word-spacing: -2em;
  width: 600px;
  margin: auto;
}

.search_icone
{ background-color: #F2F2F2;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  border-radius: 12px 0px 0px 12px;
  display: inline-block;
  word-spacing: normal;  
 }
.search_zone
{
  padding: 20px 90px 20px 20px;
  border: 0.1px solid #F2F2F2;
  font-weight: bold;
}
.button_search
{
  color: white;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #0065FC;
  border-radius: 0px 12px 12px 0px;
}
/*********filtre************/

.filtre
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: auto;
}
/*******phrase logement*******/
.phrase_logement{
  font-size: 18px;
  height: 20px;
}

/*******bloc heb+pop*******/
  #bloc_1
  {
    display: flex;
    flex-direction: column-reverse;
  }
/*******bloc populaire*******/
 #populaire{ width: 730px; height: 750px;}

.item_populaire
  {
  background-color: white;
  width: 650px;
  margin: auto;
}
/*******bloc hebergement*******/
.img_hebergement {width: 630px; height: 170px; border-radius: 10px}
.titre_hebergement{
 background-color: white;
 width: 730px;
 margin-bottom:0px;
 margin-top: 30px;
 padding-top: 0px;
 font-size: 12px;
}
#hebergement
  {
 background-color: white;
 width: 655px;
 grid-template-columns: 650px;
 grid-column-gap: 0px;
 padding: 30px;
 margin-right: 0px;
  }
.item_hebergement
  {
  background-color: white;
  margin: 0px 0px 0px 20px;
  padding: 2px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px grey;
}

/*-************partie activité***************/

  footer
  {
    display: flex;
    flex-direction: column;
  }

}

/*mettre conteneur pour les images + propriete overflow
mettre plusieurs class dans conteneur*/